  .form-buttons {
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 20px;
  }
.back-button {
  border: 2px solid var(--secondary);
  background-color: var(--secondary);
  color: var(--white-color);
  padding: 10px 18px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 700;
  min-width: 160px;
  text-align: center;
  transition: all 0.3s ease;
  font-size: 16px;
}

.back-button:hover {
  background-color: transparent;
  color: var(--secondary);
}

/* -------------------Tablet------------------- */
@media (min-width: 768px) and (max-width: 1023px) {
  .back-button {
    min-width: 180px;
    font-size: 0.95rem;
  }
}

/* -------------------Mobile------------------- */
@media (max-width: 767px) {
  .back-button {
    width: 100%;
    max-width: 320px;
    font-size: 0.9rem;
  }
}
