.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-height: 360px;
    overflow-y: auto;
    padding: 10px 10px;
    padding-left: 0;
    margin-left: -15px;
    margin-right: -15px;
}
.card {
    width: 100%;
    flex: 0 0 45%;
    box-sizing: border-box;
}

.col {
    width: calc(33.333% - 30px);
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 30px;
}

.c-card {
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(107, 112, 92, 0.5);
    background-color: white;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out,
        border-color 0.2s ease-in-out;
}

.c-card:hover {
    transform: scale(1.03);
    box-shadow: 0 5px 15px rgba(107, 112, 92, 0.7);
    border-color: #a5a58d;
}

.c-card .row.g-0 {
    flex-grow: 1;
    display: flex;
}
.card-content {
    flex-grow: 1;
    display: flex;
    justify-content: space-evenly;
    /* width: 60%; */
}

.card-img {
    width: 40%;
    padding: 10px;
}

.card-img .img-fluid {
    width: 100%;
    /* height: auto; */
    height: 100%;
    margin: auto;
    border-radius: 8px;
}

.card-body {
    padding: 30px 15px 15px 5px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-title {
    color: #6b705c;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin: 0;
}

.card-text {
    color: #6b705c;
    margin-bottom: 5px;
    font-size: 1rem;
    text-align: center;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-right: 10px;
}

@media (min-width: 768px) and (max-width: 1023px) {
    .card-container {
        display: flex;
        flex-wrap: wrap;
        height: auto;
        overflow-y: visible;
    }

    .card {
        flex: 0 0 48%;
        margin: 0 !important;
        box-sizing: border-box;
    }

    .c-card {
        margin-left: 15px;
    }
    .card-title {
        font-size: 1.3rem;
        height: 35px;
    }
    .btn {
        padding: 5px;
        margin-left: 2px;
    }
    .card-text {
        margin-bottom: 2px;
        font-size: 0.9rem;
        margin-top: 10px;
        height: 30px;
    }
    .card-body {
        padding: 15px 10px 10px 0;
    }
    .icon {
        font-size: small;
    }
}
@media (min-width: 767px) and (min-width: 656px) {
    .add-btn {
        font-size: 0.8rem;
        padding: 9px 0;
    }
    .card-body {
        padding: 10px 5px 5px 5px;
    }
    .card-text {
        margin-bottom: 2px;
        font-size: 0.9rem;
        margin-top: 5px;
        height: 20px;
    }
    .card-title {
        font-size: 1.2rem;
        height: 25px;
    }
    .btn {
        padding: 7px;
    }
}
@media (max-width: 656px) {
    .card {
        flex: 0 0 70%;
    }
    .card-text {
        margin-bottom: 2px;
        font-size: 0.9rem;
        margin-top: 5px;
        height: 20px;
    }
    .card-title {
        font-size: 1.2rem;
        height: 25px;
    }
    .card-body {
        padding: 20px 0px 10px 2px;
    }
}
