.btn {
    font-size: 0.5rem;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    color:white;
}

.success {
    border: solid 2px var(--primary) ;
    background-color: var(--primary) ;
    margin-left: 5px;
    padding-top: 7px;
}

.success:hover {
    background-color: white !important;
    color: var(--primary)  !important;
    border: solid 2px var(--primary) ;
}

.delete {
    background-color: var(--danger) !important;
    border: solid 2px var(--danger) ;
    margin-left: 5px;
    padding-top: 8px;
}

.delete:hover {
    background-color: white !important;
    color: var(--danger)  !important;
    border: solid 2px var(--danger) ;
}
