.confirm-actions {
  display: flex;
  gap: 12px;
  justify-content: center;
  margin-top: 16px;
}

.btn-delete {
  background-color: var(--danger); 
  color: var(--white-color);
  border: 2px solid var(--danger);
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  min-width: 120px;
  transition: all 0.3s ease;
}

.btn-delete:hover {
  background-color: transparent;
  color: var(--danger);
}

.btn-cancel {
  background-color: var(--primary);
  color: var(--white-color);
  border: 2px solid var(--primary);
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: 700;
    font-size: 16px;
  min-width: 120px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-cancel:hover {
  background-color: transparent;
  color: var(--primary);
}

@media (max-width: 767px) {
  .confirm-actions {
    flex-direction: row;
    width: 80%;
    margin-top: 20px;
  }

  .btn-delete,
  .btn-cancel {
    width: 100%;
    max-width: 100px;
    font-size: 0.9rem;
  }
}
