
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: var(--background-page);
}

.foot {
  width: 100%; 
  margin: 0;    
  padding: 20px 0;
  display: flex;
  justify-content: space-around;
  background-color: var(--primary);
  color: white;
  flex-wrap: wrap;
  direction: rtl;
  text-align: center;
}

.footerCol1,
.footerCol3{ 
  margin-top: 40px; 
  margin-bottom: 20px;
 }
.foot div {
  flex: 1; 
  font-size: 18px; 
  margin-top: 20px;
  }
.footerCol2 img {
  margin: 20px 40px;
  }
.footerCol3 ul {
  list-style: none;
  padding: 0;
}
.footerCol3 ul li {
  margin-bottom: 10px;
  }
.footerCol3 ul li a { 
  color: white; 
  text-decoration: underline; 
}
@media (max-width: 768px) {
   .footerCol2 img { 
    margin: 10px auto;
  }
  .foot { 
  flex-direction: column; 
  align-items: center;
 }
}

