
html{
  scroll-behavior:smooth;
  direction: rtl;
}

.main-navbar {
  font-weight: 600;
  font-size: 20px;
  padding: 15px 0;
  top: 0;
  z-index: 1000;
  background: transparent;
}

.centered-container {
  max-width: 92%;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-navbar img {
  height: 80px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
  align-items: center;
  flex-wrap: wrap;
}

.nav-links li {
  display: inline-flex;
  align-items: center;
}

.nav-links a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: var(--primary);
}

.btn-login {
  background-color: var(--primary);
  padding: 8px 14px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
}
.btn-login:hover {
  background-color: var(--dark-green);
}

@media (max-width: 768px) {
  .main-navbar img { height: 60px; }
  .nav-links { gap: 12px; font-size: 14px; }
}
