
.home-page {
  background-color: var(--background-page); 
  font-family: "Changa", sans-serif;
  font-weight: 800;
  padding-top: 10px;
}
.centered-container {
  max-width: 92%;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
}

.carousel-inner {
  border-radius: 10px;
  overflow: hidden;
}
.carousel-img {
  width: 100%;
  height: 560px;
  object-fit: cover;
}

.about-section {
  direction: rtl;
  padding: 40px 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  max-width: 92%;
}

.about-section h3 span {
  border-radius: 5px;
  font-weight: 900;
  font-size: 28px;
}
.about-text {
  text-align: justify;
  font-size: 26px;
  font-weight: 700;    
  color: #333;
  line-height: 1.7;  
  margin: 0;
}

@media (max-width: 768px) {
  .carousel-img {
    height: 260px;
  }
  .centered-container {
    padding: 0 12px;
  }
  .about-section h3 span {
    font-weight: 500;
    font-size: 22px;
  }
  .about-text {
    font-size: 20px;
    font-weight: 400;
  }
}
