h2 {
    color: var(--primary);
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 50px;
}

form.filters-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

form.filters-container > div {
    width: 25%;
}

.add-btn-container {
    margin-right: 25px;
}
.add-btn {
    display: inline-block;
    background-color: #6b705c;
    color: white;
    padding: 10px 0;
    border-radius: 8px;
    text-decoration: none;
    width: 100%;
    transition: background-color 0.3s ease;
    font-size: 1rem;
    font-weight: bold;
    border: none;
}

.add-btn:hover {
    background-color: #a5a58d;
    color: black;
}

.searchInput {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
    box-sizing: border-box;
}

/* -------------------Tablit Size------------------- */
@media (min-width: 768px) and (max-width: 1023px) {
    h2 {
        font-size: 2.5rem;
        text-align: center;
    }
    .halaqat-container {
        display: flex;
        flex-wrap: wrap;
        height: auto;
        overflow-y: visible;
    }

    .halaqa-card {
        flex: 0 0 48%;
        margin: 0 !important;
        box-sizing: border-box;
    }

    .h-card-content {
        margin-left: 15px;
    }
}
@media (max-width: 767px) {
    h2 {
        font-size: 1.8rem;
        text-align: center;
    }
}
