.container {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.sidebar {
  width: 18%;
  min-width: 200px;
  max-width: 280px;
  background-color: #ffffff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  margin: 15px;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.3s ease;
}
.main-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 15px 15px 15px 0;
}
.main {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

.sidebar .logo {
  text-align: center;
}

.sidebar .logo img {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  margin-left: 0.5rem;
}
.top-menu {
  margin-top: -2.5rem;
}

.bottom-menu {
  margin-bottom: -0.625rem;
}

.sidebar-item,
.user-item {
  height: 1.875rem;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-decoration: none;
}

.sidebar-item:hover {
  background-color: #b7b7a4;
  cursor: pointer;
}

.sidebar-text {
  padding-top: 0.3125rem;
  margin-top: 0.9375rem;
  font-size: 1rem;
  font-weight: 600;
  width: 7.25rem;
  color: var(--primary);
}

hr {
  width: 10.625rem;
}

.sidebar-icon {
  width: 1.25rem;
  height: 1.25rem;
  margin-left: -0.9375rem;
}

.sidebar-item.active {
  border-right: 0.25rem solid var(--primary);
}

.mobile-sidebar {
  display: none;
  width: 100%;
  height: 6rem;
  position: fixed;
  z-index: 1002;
  margin: 10px 0px;
}
.menu-toggle {
  display: none;
  background-color: transparent;
  border: none;
  font-size: 1.8rem;
  z-index: 1001;
  cursor: pointer;
  color: var(--primary);
}
.mobile-menu {
  display: none;
  position: fixed;
  top: 3.5rem;
  left: 1rem;
  background-color: white;
  box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.2);
  border-radius: 0.75rem;
  z-index: 1000;
  padding: 10px 20px;
  width: 11rem;
  text-align: right;
}

.mobile-menu.open {
  display: block;
}

.mobile-menu ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.mobile-menu li {
  padding: 0.5rem 0;
  border-bottom: 1px solid #ddd;
  color: var(--primary);
  font-weight: bold;
  cursor: pointer;
}

.mobile-menu li:last-child {
  border-bottom: none;
}

.mobile-menu a {
  display: block;
  border-bottom: 1px solid #ddd;
  color: var(--primary);
  font-size: 15px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.mobile-menu a:hover {
  color: var(--secondary);
  background-color: #f8f8f8;
}

.mobile-menu a:last-child {
  border-bottom: none;
}

.mobile-logo {
  display: none;
  padding-right: 20px;
  z-index: 1002;
  transition: all 0.3s ease-in-out;
}

.mobile-logo img {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.header {
  height: 65px;
  border-radius: 15px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 25px;
  margin-bottom: 15px;
}

.left-side {
  margin-left: 5%;
}

.user-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user-icon {
  width: 1.5625rem;
  height: 1.5625rem;
  margin-left: 5%;
}

.user-name {
  padding-top: 0.3125rem;
  margin-top: 0.9375rem;
  font-size: 1.0625rem;
  font-weight: bold;
  color: var(--primary);
}
/* -------------------Tablit Size------------------- */
@media (min-width: 768px) and (max-width: 1023px) {
  .sidebar {
    width: 180px;
  }
  .sidebar .logo img {
    width: 5rem;
    height: 5rem;
    margin-left: 0.25rem;
  }

  .top-menu {
    margin-top: -2rem;
  }

  .bottom-menu {
    margin-bottom: -0.5rem;
  }

  .sidebar-item,
  .user-item {
    height: 1.5rem;
  }

  .sidebar-text {
    padding-top: 0.2rem;
    margin-top: 0.7rem;
    /* font-size: 0.8rem; */
    width: 7rem;
  }

  hr {
    width: 9rem;
  }

  .sidebar-icon {
    width: 1rem;
    height: 1rem;
    margin-left: -0.5rem;
  }

  .user-name {
    font-size: 15px;
  }

  .user-icon {
    width: 1rem;
    height: 1rem;
  }
}

/* -------------------Mobile Size------------------- */
@media (max-width: 767px) {
  .container {
    display: block;
    height: auto;
    width: 100%;
  }
  .main{
    margin-top: 70px;
  }
  .mobile-sidebar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .mobile-logo {
    display: block;
  }

  .Mopile-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-left: 15px;
    margin-bottom: 10px;
  }

  .menu-toggle {
    display: block;
  }

  .user-item {
    display: flex;
    align-items: center;
    gap: 6px;
  }

  .user-icon {
    width: 1rem;
    height: 1rem;
  }

  .user-name {
    font-size: 0.9rem;
    font-weight: bold;
    color: #6b705c;
    margin-bottom: 20px;
  }

  .sidebar,
  .header {
    display: none;
  }
}
