
.details-container {
  width: 70%;
  margin: 0 auto;  
  background-color: var(--white-color);
  border-radius: 0 0 16px 16px;
  padding: 24px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  overflow-x: visible;
  position: relative;
  z-index: 1; 
}

.top-frame {
  position: absolute;
  top: -6px;             
  left: 0;
  right: 0;              
  height: 6px;           
  box-sizing: border-box;
  border: 2px solid var(--secondary);
  border-radius: 16px 16px 0 0;
  background: var(--secondary);
  z-index: 9999;          
  display: block;
}

.title-desigen {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; 
  gap: 20px;
  margin-bottom: 24px;
  text-align: center;
}

.profile-image-container {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  border: 4px solid var(--secondary);
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.student-name {
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--black-color);
}

.Section {
  width: 40%; 
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.info-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid #eee;
  padding: 8px 0;
}

.info-label {
  font-weight: 800;
  font-size: 20px;
  color: var(--black-color);
  padding: 8px;
}

.info-value {
  color: var(--black-color);
  font-weight: 350;
  font-size: 18px;
}


.delete-question {
  color: var(--danger); 
  font-weight: 700;
  margin: 0;
  font-size: 1.8rem;
}


/* -------------------Tablet------------------- */
@media (min-width: 768px) and (max-width: 1023px) {
    .details-container {
    width: 90%;
    padding: 24px;
    border-radius: 0 0 12px 12px;
  }
  
  .top-frame {
    width: 100%; 
    height: 5px;
    border-radius: 12px 12px 0 0;
  }
  .profile-image-container {
  width: 110px;
  height: 110px;
  flex-shrink: 0;
}
  .Section {
    width: 75%;
    align-items: center;
  }
    .delete-question {
    font-size: 1.5rem;
  }
}

/* -------------------Mobile------------------- */
@media (max-width: 767px) {
  .details-container {
    margin-top: 10px;
    width: 95%;
    padding: 18px;
    border-radius: 0 0 10px 10px;
  }
  .top-frame {
    width: 100%; 
    height: 5px;
    border-radius: 10px 10px 0 0;
  }

  .title-desigen {
    flex-direction: column;
    gap: 2px;
    margin-bottom: 0;
  }
  .profile-image-container {
  width: 100px;
  height: 100px;
}

  .Section {
    width: 90%;
    align-items: flex-start;
    margin-top: 0;
    margin-right: 50px;
  }

  .info-label {
    font-size: 1.2rem;
  }

  .info-value {
    font-size: 1rem;
  }
  .delete-question {
    font-size: 1.4rem;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}
